/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Chango&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

/* css variables */
:root {
    /* colors */
    --c-even-background: hsl(0, 0%, 96%);
    --c-odd-background: hsl(180, 4%, 95%);
    --c-button: hsl(212, 59%, 25%);
    --c-button-hover: hsl(212, 73%, 18%);
    --c-caption: hsl(221, 67%, 45%);
    --c-heading: hsl(0, 0%, 17%);
    --c-subheading: hsl(0, 0%, 96%);
    /* fonts */
    /* sizing */
    /* gaps */
    /* radius */
}