/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    background-color: var(--c-canvas);
}

/* css variables — inspired bmw */
:root {
    /* colors */
    --c-canvas: #ffffff;
    --c-surface-soft: #f7f7f7;
    --c-surface-card: #fafafa;
    --c-cta-primary: #1a2129;
    --c-cta-hover: #262e38;
    --c-cta-hairline: #e6e6e6;
    --c-ink: #262626;
    --c-body: #3c3c3c;
    --c-muted: #6b6b6b;
    --c-dark-soft: #bbbbbb;
    /* fonts */
    --ff-ink: "Inter", sans-serif;
    --ff-body: "Poppins", sans-serif;
    /* sizing */
    --sz-display-xl: 4rem;
    --sz-display-lg: 3rem;
    --sz-display-md: 2rem;
    --sz-display-sm: 1.5rem;
    --sz-title-lg: 1.3rem;
    --sz-title-md: 1.2rem;
    --sz-title-sm: 1rem;
    --sz-body-md: 1rem;
    --sz-body-sm: 0.875rem;
    /* weight */
    --w-display: 700;
    --w-title: 700;
    --w-body: 400;
    --w-button: 700;
    --w-nav: 400;
    /* gaps */
    --g-section: 80px;
    --g-lg: 24px;
    --g-md: 16px;
    --g-sm: 12px;
    --g-xs: 8px;
    /* radius */
    --rd-lg: 24px;
    --rd-md: 16px;
    --rd-sm: 12px;
    --rd-xs: 8px;
}

/* manila ctp */

/* navigation */
header {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--c-surface-soft);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 12px 0;
}

.navigation-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link ul {
    display: flex;
    gap: var(--g-lg);
}

.nav-link ul li {
    list-style-type: none;
}

.nav-link ul li a {
    font-family: var(--ff-body);
    font-size: var(--sz-body-sm);
    font-weight: var(--w-body);
    text-decoration: none;
    color: var(--c-body);
}

.btn {
    border: none;
    outline: none;
    background-color: var(--c-cta-primary);
    border-radius: var(--rd-xs);
    color: var(--c-dark-soft);
    padding: 12px 24px;
    cursor: pointer;
    transition: .5s ease;
    font-weight: var(--w-button);
}

.btn:hover {
    background-color: var(--c-cta-hover);
}

.btn i {
    transition: .5s ease;
}

.btn:hover i {
    transform: translateX(4px);
}

#menu {
    display: none;
}

/* main */

/* section */
section {
    padding: 80px 0;
}

/* home */
.home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url('Assets/Images/background.png') no-repeat fixed center/cover;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    gap: var(--g-lg);
}

.home-grp {
    max-width: 700px;
}

.home-tagline {
    font-family: var(--ff-body);
    font-size: var(--sz-body-md);
    font-weight: var(--w-body);
    color: var(--c-body);
}

.home-heading {
    font-family: var(--ff-ink);
    font-size: var(--sz-display-lg);
    font-weight: var(--w-display);
    color: var(--c-ink);
}

.home-subheading {
    font-family: var(--ff-body);
    font-size: var(--sz-body-md);
    font-weight: var(--w-body);
    color: var(--c-body);
}

.home-cta-grp {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: var(--g-lg);
}

/* about */
.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--g-lg);
}

.about-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--g-sm);
}

.a-title {
    font-family: var(--ff-ink);
    font-size: var(--sz-title-lg);
    font-weight: var(--w-title);
    color: var(--c-ink);
}

.a-subheading {
    font-family: var(--ff-body);
    font-size: var(--sz-body-md);
    font-weight: var(--w-body);
    color: var(--c-body);
}

.about-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--g-md);
    border-radius: var(--rd-xs);
}

.a-images {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    border-radius: var(--rd-xs);
}

.a-images img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--rd-xs);
    transition: 0.5s ease;
}

.a-images-content {
    position: absolute;
    bottom: -100%;
    padding: 16px 24px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    width: 100%;
    transition: bottom 0.5s ease;
}

.a-images:hover .a-images-content {
    bottom: 0;
    height: 100%;
}

.a-images:hover img {
    transform: scale(1.05);
}